.bar {
  padding: 12px;
  padding-left: 40px;
  outline: transparent;
  border-radius: 12px;
  border: none;
  min-width: 300px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .bar {
    min-width: 600px;
  }
}

@media only screen and (min-width: 1158px) {
  .bar {
    min-width: 800px;
  }
}

.btn {
  position: absolute;
  top: 0;
  left: 0;
  outline: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  transform: translateY(30%);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.error {
  align-self: flex-start;
  color: red;
  text-align: right;
  margin-left: 30px;
}
