.header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(62, 24, 63);
  -webkit-box-shadow: -13px 14px 94px -52px rgba(22, 247, 97, 1);
  -moz-box-shadow: -13px 14px 94px -52px rgba(22, 247, 97, 1);
  box-shadow: -13px 14px 94px -52px rgba(22, 247, 97, 1);
  border-bottom: 1px solid rebeccapurple;
}
